
body {
    /* background-image: url(images/architecture-blue-building-411595.jpg); */
    background:url(images/architecture-blue-sky-building-310479.jpg) #0f2439 no-repeat top;
    background-size: 2000px;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 20px;
    /* left: 500px; */
    /* width: 100%; */
}